* {
  margin: 10px;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search {
  font-size: 20px;
}

.submit {
  font-size: 20px;
}

.title1 {
  color: grey;
  font-size: 30px;
}

.ul_favorites {
  width: 150px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  text-align: center;
}
.img_favorites {
  width: 80px;
}

.ul_list {
  width: 200px;
  height: 100vh;
  transform: translateX(150px);
  display: flex;
  position: absolute;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  padding-left: 200px;
  text-align: center;
  background-color: ;
}

.ul_list-title {
  color: cyan;
}

.favorite {
  background-color: rgb(192, 192, 192);
  padding: 0;
}
