* {
  margin: 10px;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title1 {
  color: violet;
  font-size: 25px;
}

.ul_favorites {
  width: 20%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.img_favorites {
  width: 80px;
}

.ul_list {
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.ul_list-title {
  color: cyan;
}

.favorite {
  background-color: rgb(192, 192, 192);
  padding: 0;
}
